@{
    Layout = "_Layout";
}
    <link rel="stylesheet" href="~/lib/jquery/dist/jquery.js" asp-append-version="true"/>
    <link rel="stylesheet" href="~/js/Anasayfa.js" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/Anasayfa.css"  asp-append-version="true">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"  asp-append-version="true"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"
  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"  asp-append-version="true"></script>
<script src="AnaSayfa.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"  asp-append-version="true"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"  asp-append-version="true"></script>

 
    </div>
    <script>
const load = setTimeout(loader, 2000);



function loader() {
     document.getElementById("sil").style.display = "none"
     document.getElementById("pos").style.position = "fixed"
  }
 
    </script>